/* html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
} */

.root {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.sidebar {
  width: 200px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 1.25em;
}

.divider {
  padding-top: 1em;
  padding-bottom: 1em;
}


.sidebarItem {
  font-weight: 400;
  transition: transform 0.2s ease, background-color 0.2s ease;
  user-select: none;
}


.sidebarItem:hover {
  font-weight: 600;
}

.main {
  flex-grow: 1;
  overflow-y: auto; /* Ensure scrolling if content is long */
}