.settingsRoot {
  padding: 1em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.pageTitle {
  align-self: flex-start;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.sectionTitle {
  align-self: flex-start;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 4px;
}

.settingRow {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  gap: 2rem;
}

.settingLabel {
  margin: 0;
  text-align: right;
}

.portInput {
  width: 10em;
}

.tcpInboundCheckbox {
  padding-left: 2em;
  align-self: flex-start;
}

.connectionNumericInput {
  width: 10em;
}

.saveButton {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  border-radius: 9999px;
}
