.dialogContent {
  padding: 0;
  gap: 0;
}

.dialogContent > button {
  display: none;
}

.inputContainer {
  padding: 0.25rem;
}

.searchInput {
  border: 0;
  height: 3.5rem;
  box-shadow: none;
}

.searchInput:focus-visible {
  box-shadow: none;
}

.modalBody {
  padding: 0;
}

.suggestion {
  display: flex;
  align-items: center;
  padding: 1em;
  flex-direction: row;
  gap: 1em;
}

.suggestion.selected {
  background: hsl(var(--accent));
}

.suggestionLabel {
  font-size: 14px;
}
